/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

.search-login button {
    background-color: #ff6347;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-login button:hover {
    background-color: #ff4500;
}

/* ProductPresentation */
.ProductPresentation {
    text-align: center;
    padding: 10px 10px 50px;
    background-color: #333;
    color: #fff;
    background-image: url('ProductPresentation-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.ProductPresentation h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ProductPresentation-image img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.ProductPresentation-image img:hover {
    transform: scale(1.05);
}

.scroll-button {
    background-color: #ff6347;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: #ff4500;
}

/* Brands Section */
.brands {
    display: flex;
    justify-content: space-around;
    padding: 50px 50px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.brand-item {
    text-align: center;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.brand-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.brand-item img:hover {
    transform: scale(1.05);
}

.brand-item h2 {
    margin-top: 15px;
    font-size: 1.5rem;
    color: #333;
}

.brand-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 768px) {
    .brands {
        flex-direction: column;
        align-items: center;
    }

    .brand-item {
        margin-bottom: 30px;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}